{% for card in cards %}
  {% if  card.image %}
  <div class="card bg-img" style="background-image: url({{ card.image.url }})">
  {% else %}
  <div class="card">
  {% endif %}
    <div class="card-top card-inner-bg">
      <div class="card-title">
        <p class="card-id">{{ card.id }}</p>
        <h3>{{ card.name.title }}</h3>
        <h4 class="card-category">{{ card.category.name.title }}</h4>
      </div>
      <p class="card-value">{{ card.value }}</p>
    </div>
    <div class="card-offset"></div>
    <div class="card-txt card-inner-bg">
      <p class="card-info">{{ card.description.capitalize }}</p>
      {% for effect in card.effects.all %}
        <p class="card-fx">{{ effect }}</p>
      {% endfor %}
    </div>
  </div>
{% endfor %}
